@import './userAvatar';
@import './log_INT';
@import './ms_not';
@import './logo';
.header {
  position: sticky;
  top: 0;
  user-select: none;
  margin: 0 auto;
  width: auto;
  z-index: 10;
  height: 55px;
  border-bottom: 1px #373737 solid;
   background-color: #242424;
  .navigation {
    margin: 0 auto;
    padding-left: 0;
    width: 1050px;
    height: 55px;
    display: flex;
    text-align: center;
    align-items: center;
  }
}
